* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background: rgb(24, 27, 46);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: rgb(247, 247, 247);
    font-size: 3.2rem;
}
header a {
    color: rgba(247, 247, 247);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: calc(100vh - 130px);
}
footer {
    background: rgb(245, 245, 245, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgba(247, 247, 247);
}
.container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    width: 50%;
}
.btn-empezar {
    background: rgb(245, 245, 245, 0.1);
    border-radius: 20px;
    padding: 15px;
    color: rgba(247, 247, 247);
    cursor: pointer;
    margin: 20px 0;
}
.btn-empezar:hover {
    box-shadow: 0px 6px 12px rgba(247, 247, 247, 0.2),
                0px -6px 12px rgba(0, 0, 0, 0.2);
}
.card {
    width: 150px;
    height: 175px;
    background: rgba(247, 247, 247, 0.1);
    margin: 10px;
    border-radius: 15px; 
    box-shadow: 6px 6px 12px rgba(247, 247, 247, 0.2),
                -6px -6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-num {
    width: 150px;
    height: 175px;
    background: rgb(245, 245, 245, 0.7);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(247, 247, 247, 0.2),
                -6px -6px 12px rgba(0, 0, 0, 0.2);
    font-size: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hide {
    display: none;
}

.msg-win {
    background: rgb(245, 245, 245, 0.1);
    border-radius: 20px;
    padding: 15px;
    color: rgba(247, 247, 247);
    grid-area: 2 / 2 / 4 / 4;
    text-align: center;
}

.msg-win > p {
    margin-top: 30px;
}